*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.logo span{
    background: green;
    padding: 5px;
    color: white;
    font-size: 25px;
    border-radius: 5px;
}
#phone{
    margin-right: 300px;
}